/*base styles */
*{
	box-sizing:border-box;
}
h1{ font-family:serif;
  text-align:center;
 color:#ff00ff;
}
body{
	background-color:purple;
}
p
{
 font-family:sans-serif;
 color:green;
 font-weight: bold;

}
.row{
	width:100%;
}
.column{
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
}
#id1{
	background-color:yellow;
}
#id2{
	background-color:red;
}
#id3{
	background-color:blue
}
#head{
	font-family:helvetica;
	font-size:23px;
	border:1px solid black ;
	position: absolute;
	top:0px;
	right:0px;
	float:right;
	width:150px;
	height:30px;
	margin-bottom:6px;

}

#chicken{
	position:relative;
	height:300px;
	width:100%;
	border:1px solid black;
	padding:10px;
	background-color:skyblue;
	margin:10px 10px 10px 10px;
}
#cap{
	position:relative;
	height:300px;
	width:100%;
	border:1px solid black;
	padding:10px;
	background-color:skyblue;
	margin:10px 10px 10px 10px;
}
#sushi{
	position:relative;
	height:300px;
	width:100%;
	border:1px solid black;
	padding:10px;
	background-color:skyblue;
	margin:10px 10px 10px 10px;
}
/*resposive design*/
/*desktop view*/
@media(min-width:992px){
	.column{
		width:31%;
	}

}
/*tablet view*/
@media(min-width:768px) and (max-width:991px ){
	.cl-md-1{
		width:47%;
		float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	}
	
	div div:nth-child(3){
		width:96%;
		float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	}
	/*mobile view*/
@media(max-width:767px){
	.column{
		width:100%;
	}
}
